# Core UI
streamlit==3.10

# Transformers & Model Support
transformers==4.40.1
sentencepiece  

# File Uploads (PDF & DOCX)
PyPDF2==3.0.1
python-docx==1.1.0

# Environment Variable
python-dotenv==1.0.1

# Server End to End
requests==2.31.0

